
/* Force la table à prendre toute la largeur et permet le retour à la ligne */
.styled-table {
    width: 100%;
    table-layout: fixed; /* Important pour contrôler les largeurs */
    word-break: break-word;
}

/* Permet aux cellules de passer à la ligne si besoin */
.styled-table td,
.styled-table th {
    white-space: normal; /* Change de 'nowrap' (par défaut dans les tables) à normal */
    padding: 8px;
}

/* Ajustez la largeur de chaque colonne si nécessaire (exemple) */
.styled-table th:nth-child(1) { width: 15%; } /* Entité */
.styled-table th:nth-child(2) { width: 10%; } /* Total AO */
/* ... etc */
th  td {
  

  font-size: 12px; /* Taille du texte réduite */
  text-align: center;
  
}


.table tbody tr:nth-child(odd) {
  background-color: #FFA500; /* Bleu clair */
}

.table tbody tr:nth-child(even) {
  background-color: #D3D3D3; /* Gris clair */
}

.montant-row {
  background-color: #FFFF00 !important; /* Jaune pour la ligne Montant */
}
.vvvv{

padding-left: 100px;
padding-right: 100px;
padding-top: 0px;
}
@media only screen and (max-width: 1280px) {


.dashboard-title {
  font-size: 1.4rem; /* Ajustement de la taille du texte si nécessaire */
}
.table{
  margin-left:  0px  !important;

}

}


.styled-table td {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 8px 12px; /* espace intérieur uniforme */
  vertical-align: middle; /* alignement vertical centré */
  line-height: 1.5; /* hauteur de ligne uniforme */
}


.styled-table th {
  font-size: 20px;
  text-align: center;
 font-weight: bold;
 
  color: black;            /* Texte blanc */
     /* Texte en gras */
}
/* Pour les écrans de portable ou moins */
@media only screen and (max-width: 1280px) {
    .vvvv {
        padding-left: 20px;
        padding-right: 20px;
    }
}